<nav class="navbar navbar-expand-lg" style="background-color: rgb(128, 211, 250);">
    <div class="container">
        <a class="navbar-brand" href="#">
            <h1 style="color: rgba(253, 253, 244, 0.94);">Burgers Without U</h1>
        </a>
    </div>
</nav>

<div class="container">

    <div class="row">

        <div class="col-12">
            <div>

                <h2> What would you like?</h2>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Add your Burguer Here"
                        aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Submit</button>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-sm">
            <h2> To be eaten </h2>

            <ul>
                <li>Bacon Cheese Burger</li>
                <li> Cheese Burger</li>
                <li>Chicken Cheese Burger</li>

            </ul>

        </div>
        <div class="col-sm">
            <h2>Devoured!</h2>
            <ul>
                <li>Avocado Burger</li>
                <li> BLT Burger</li>
                <li>Turkey Cheese Burger</li>

            </ul>
        </div>

    </div>


</div>